<main class="recipes">
  <div class="recipes_edit">
    <h1><%= @recipe.name %></h1>

    <%= simple_form_for @recipe do |form| %>
      
      <%= form.label :name %>
      <%= form.text_field :name %>

      <%= form.label :preparation %>
      <%= form.text_area :preparation %>

      <div class="recipes_edit_check_boxes">
        <%= form.association :ingredients, as: :check_boxes %>
      <div class="recipes_edit_check_boxes">

      <%= form.submit %>

    <% end %>
  </div>
</main>