<h1><%= @recipe.name %></h1>


<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :preparation %>
  <%= f.text_area :preparation %>

  <%= f.submit 'Update recipe' %>

<% end %>