<main class="recipes">
  <div class="recipes_new">
    <%= simple_form_for @recipe do |form| %>
      
      <%= form.label :name %>
      <%= form.text_field :name %>

      <%= form.label :preparation %>
      <%= form.text_area :preparation %>
      <div class="recipes_new_check_boxes">
        <%= form.association :ingredients, as: :check_boxes %>
      </div>

      <%= form.submit %>

    <% end %>
  </div>
</main>