<main class="recipes">
  <%= simple_form_for @recipe do |form| %>
    
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :preparation %>
    <%= form.text_area :preparation %>
    <%= form.association :ingredients, as: :check_boxes %>


    <%= form.submit %>

  <% end %>
</main>