<main class="recipes">
  <h1> <%= @recipe.name %> </h1>

  <p><%= @recipe.preparation %></p>

  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name  %></li>
    <% if ingredient.stock %>
      <p>In stock</p>
    <% else %>
      <p>To buy</p>
    <% end %>
  <% end %>
  <%= link_to('Edit recipe', edit_recipe_path(@recipe.id)) %>
  <%= link_to('Delete', recipe_path(@recipe.id), method: :delete) %>
</main>




