<main class="meals">
  <div class="meals_edit">
    <%= simple_form_for @meal do |form| %>
      
      <%= form.label :date %>
      <%= form.date_field :date %>

      <%= form.label(:category, 'Breakfast') %>
      <%= form.radio_button(:category, :breakfast) %>

      <%= form.label(:category, 'Lunch') %>
      <%= form.radio_button(:category, :lunch) %>

      <%= form.label(:category, 'Dinner') %>
      <%= form.radio_button(:category, :dinner) %>
      <div class="meals_edit_check_boxes">
        <%= form.association :recipes, as: :check_boxes %>
      </div>
      

      <%= form.submit %>

    <% end %>
  </div>
</main>
