<h1> <%= @meal.date.strftime('%a, %d %b %Y') %> </h1>

<p><%= @meal.category.capitalize %></p>

<% @meal.recipes.each do |recipe| %>
  <p><%= recipe.name %></p>
<% end %>


<%= link_to('Edit meal', edit_meal_path(@meal.id)) %>
<%= link_to('Delete', meal_path(@meal.id), method: :delete) %>




