<!DOCTYPE html>
<html>
<head>
  <title>VillarockApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
    <nav class="nav">
        <ul>
            <li> <%= link_to('Ingredients', ingredients_path) %> </li>
            <li> <%= link_to('Recipes', recipes_path) %> </li>
            <li> <%= link_to('Meals', meals_path) %> </li>
        </ul>
    </nav>
  </div>
  <div class="nav_line">
  </div>

<%= yield %>

</body>
</html>
